ignore-scripts=false
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=@img/sharp-linux-x64
onlyBuiltDependencies[]=@img/sharp-linux-arm64
onlyBuiltDependencies[]=@img/sharp-linux-arm
